{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/livro.css' %}">
{% endblock %}

{% block content %}
<main class="livro-main">
    <div class="livro-container">
        <div class="livro-capa">
            {% if livro.capa %}
                <img src="{{ livro.capa.url }}" alt="{{ livro.titulo }}">
            {% endif %}
        </div>
        <div class="livro-info">
            <h1>{{ livro.titulo }}</h1>
            <p class="autor">{{ livro.autor }}</p>
            <p class="referencia">{{ livro.isbn }}</p>
            <div class="livro-botoes">
                {% if livro.quantidade > 0 %}
                    <span class="tag disponivel">Disponível</span>
                    <button class="btn-reservar">Reservar</button>
                {% else %}
                    <span class="tag reservado">Reservado</span>

                    <form method="post" action="{% url 'criar_alerta' livro.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn-alertar">
                            Ativar alerta
                        </button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock %}