{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/menu.css' %}">
{% endblock %}

{% block content %}
<main class="menu-main" style="background-image: url('{% static "img/bg.png" %}');">
    <div class="owl-section">
        <img src="{% static 'img/owl.png' %}" alt="Coruja" class="owl-img">
        <p>Olá! Eu sou a Coruja<br>assistente.<br>Pesquise um livro!</p>
    </div>

    <div class="search-area">
        <div class="book-placeholder">
            {% if livro %}
                {% if livro.capa %}
                    <a href="{% url 'livro' livro.id %}">
                        <img src="{{ livro.capa.url }}" alt="{{ livro.titulo }}" class="book-result-img">
                    </a>
                {% else %}
                    <a href="{% url 'livro' livro.id %}">
                        <span class="book-titulo-result">{{ livro.titulo }}</span>
                    </a>
                {% endif %}
            {% elif erro %}
                <span class="book-erro">{{ erro }}</span>
            {% else %}
                <span>?</span>
            {% endif %}
        </div>
       {% if request.user.is_authenticated %}
            {% with usuario=request.user.usuario %}
                {% if usuario.is_professor %}
                    <div style="margin-top: 20px; text-align: left;">
                        <a href="{% url 'professor_hub' %}" class="prof-btn">
                            Acessar Painel do Professor
                        </a>
                    </div>
                {% endif %}
            {% endwith %}
        {% endif %}
        <form method="GET" action="{% url 'menu' %}">
            <div class="search-bar">
                <input type="text" name="q" placeholder="Digite o nome do livro..." value="{{ query }}">
                <button type="submit">Pesquisar</button>
            </div>
        </form>
    </div>
</main>
{% endblock %}