{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profdisciplinacategoria.css' %}">
{% endblock %}

{% block content %}

<header class="topo">
    <h1>Gerenciador de Biblioteca</h1>
    <h2>Bem vindo(a) professor(a)</h2>
</header>

<main class="container">

    <section class="box">
        <h2>Categorias</h2>
        <input type="text" id="input-categoria" placeholder="Nome da disciplina">
        <button onclick="adicionarCategoria()">Adicionar</button>
        <ul></ul>
    </section>

    <section class="box">
        <h2>Livros</h2>

        <input type="text" id="input-titulo" placeholder="Título do livro">
        <input type="text" id="input-autor" placeholder="Autor">

        <select id="select-categoria">
            <option value="">Selecione uma categoria</option>
        </select>

        <button onclick="adicionarLivro()">Adicionar livro</button>

        <ul id="lista-livros"></ul>
    </section>

    <section class="box">
        <h2>Indicar Compra de Novo Livro (Acervo)</h2>

        {% if messages %}
            {% for message in messages %}
                <p style="color: {% if message.tags == 'success' %}green{% else %}red{% endif %}; font-weight: bold; margin-bottom: 10px;">
                    {{ message }}
                </p>
            {% endfor %}
        {% endif %}

        <form method="POST" action="{% url 'indicar_livro' %}">
            {% csrf_token %}
            <input type="text" name="titulo" placeholder="Nome do livro sugerido" required>
            <input type="text" name="autor" placeholder="Autor(a) do livro sugerido" required>
            <button type="submit">Enviar Sugestão de Aquisição</button>
        </form>
    </section>

</main>

<script src="{% static 'js/profCategoria.js' %}"></script>

{% endblock %}