{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>ReadMe - Cadastro</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'img/readme.png' %}">
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600&display=swap" rel="stylesheet"/>
  <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
</head>
<body>

  <header>
        <a href="#" class="logo">
            <img src="{% static 'img/logo.png' %}" alt="ReadMe">
            <span>ReadMe</span>
        </a>
  </header>

  <main>
    <h1>Cadastro</h1>

    <div class="card">

      {% if erro %}
        <p class="erro">{{ erro }}</p>
      {% endif %}

      <form method="POST" action="{% url 'cadastro' %}" style="display:contents;">
        {% csrf_token %}

        <!-- Nome completo -->
        <input class="input-full" type="text" name="nome" placeholder="Nome completo" required />

        <!-- Email + Matrícula -->
        <div class="row">
          <div class="field">
            <input type="email" name="email" placeholder="E-mail" required />
          </div>
          <div class="field">
            <input type="text" name="matricula" placeholder="Matrícula" required />
          </div>
        </div>

        <!-- Usuário -->
        <input class="input-full" type="text" name="usuario" placeholder="Usuário" required />

        <!-- Senha + Confirmar -->
        <div class="row">
          <div class="field">
            <input type="password" name="senha" placeholder="Senha" required />
          </div>
          <div class="field">
            <input type="password" name="confirmar_senha" placeholder="Confirmar senha" required />
          </div>
        </div>

        <button type="submit" class="btn">Criar conta</button>
      </form>

      <p class="login-link">Já tem conta? <a href="{% url 'login' %}">Entrar</a></p>

    </div>
  </main>

</body>
</html>