{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Biblioteca</title>
    <link rel="stylesheet" href="{% static 'css/profDiciplinaCategoria.css' %}">
</head>
<body>
    <header>
        <h1>Gerenciador de Biblioteca</h1>
        <h2>Bem vindo(a) professor(a)</h2>
    </header>

    <main>
        <section id="categorias">
            <h2>Categorias</h2>
            <input type="text" id="input-categoria" placeholder="Nome da disciplina">
            <button onclick="adicionarCategoria()">Adicionar</button>
            <ul></ul>
        </section>

       <section id="livros">
    <h2>Livros</h2>

    <!-- Formulário -->
    <input type="text" id="input-titulo" placeholder="Título do livro">
    <input type="text" id="input-autor" placeholder="Autor">
    <select id="select-categoria">
        <option value="">Selecione uma categoria</option>
    </select>
    <button onclick="adicionarLivro()">Adicionar livro</button>

    <!-- Lista de livros -->
    <ul id="lista-livros"></ul>
</section>

    </main>

    <script src="{% static 'js/profCategoria.js' %}"></script>

</body>
</html>