{% extends "admin/change_form.html" %}
{% load static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin_custom.css' %}">
{% endblock %}

{% block content %}
<div id="readme-container">
    <h2>Adicionar Novo Livro</h2>
    
    <div class="flex-layout">
        
        <div class="image-upload-section" id="caixa-upload">
            <div class="circle-plus">
                <span class="horizontal-line"></span>
                <span class="vertical-line"></span>
            </div>
        </div>

        <div class="form-fields-section">
            <form {% if has_file_field %}enctype="multipart/form-data" {% endif %} action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form">
                {% csrf_token %}
                
                <div class="input-group">
                    <label>Título:</label>
                    {{ adminform.form.titulo }}
                </div>

                <div class="input-group">
                    <label>Autor:</label>
                    {{ adminform.form.autor }}
                </div>

                <div style="display: flex; gap: 20px;">
                    <div class="input-group" style="flex: 2;">
                        <label>ISBN:</label>
                        {{ adminform.form.isbn }}
                    </div>
                    <div class="input-group" style="flex: 1;">
                        <label>Quantidade:</label>
                        {{ adminform.form.quantidade }}
                    </div>
                </div>

                <div style="display: none;">
                    {{ adminform.form.capa }}
                </div>

                <button type="submit" class="btn-salvar" name="_save">Salvar</button>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById('caixa-upload').addEventListener('click', function() {
        var inputArquivo = document.getElementById('id_capa');
        if (inputArquivo) {
            inputArquivo.click();
        }
    });
</script>
{% endblock %}